.avatar {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  --bs-avatar-font-size: 1rem;
  --bs-avatar-font-weight: 400;
  --bs-avatar-color: #212529;
}

.avatar-circle {
  border-radius: 0.25rem;
}
.avatar-circle > img {
  border-radius: 0.25rem;
  width: 100%;
}

.avatar-primary {
  --bs-avatar-color: #fff;
  --bs-avatar-bg: #0d6efd;
  --bs-avatar-border-color: #0d6efd;
  --bs-avatar-hover-color: #fff;
  --bs-avatar-hover-bg: #0b5ed7;
  --bs-avatar-hover-border-color: #0a58ca;
  --bs-avatar-focus-shadow-rgb: 49, 132, 253;
  --bs-avatar-active-color: #fff;
  --bs-avatar-active-bg: #0a58ca;
  --bs-avatar-active-border-color: #0a53be;
  --bs-avatar-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-avatar-disabled-color: #fff;
  --bs-avatar-disabled-bg: #0d6efd;
  --bs-avatar-disabled-border-color: #0d6efd;
}

.avatar-secondary {
  --bs-avatar-color: #fff;
  --bs-avatar-bg: #6c757d;
  --bs-avatar-border-color: #6c757d;
  --bs-avatar-hover-color: #fff;
  --bs-avatar-hover-bg: #5c636a;
  --bs-avatar-hover-border-color: #565e64;
  --bs-avatar-focus-shadow-rgb: 130, 138, 145;
  --bs-avatar-active-color: #fff;
  --bs-avatar-active-bg: #565e64;
  --bs-avatar-active-border-color: #51585e;
  --bs-avatar-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-avatar-disabled-color: #fff;
  --bs-avatar-disabled-bg: #6c757d;
  --bs-avatar-disabled-border-color: #6c757d;
}

.avatar-success {
  --bs-avatar-color: #fff;
  --bs-avatar-bg: #198754;
  --bs-avatar-border-color: #198754;
  --bs-avatar-hover-color: #fff;
  --bs-avatar-hover-bg: #157347;
  --bs-avatar-hover-border-color: #146c43;
  --bs-avatar-focus-shadow-rgb: 60, 153, 110;
  --bs-avatar-active-color: #fff;
  --bs-avatar-active-bg: #146c43;
  --bs-avatar-active-border-color: #13653f;
  --bs-avatar-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-avatar-disabled-color: #fff;
  --bs-avatar-disabled-bg: #198754;
  --bs-avatar-disabled-border-color: #198754;
}

.avatar-info {
  --bs-avatar-color: #000;
  --bs-avatar-bg: #0dcaf0;
  --bs-avatar-border-color: #0dcaf0;
  --bs-avatar-hover-color: #000;
  --bs-avatar-hover-bg: #31d2f2;
  --bs-avatar-hover-border-color: #25cff2;
  --bs-avatar-focus-shadow-rgb: 11, 172, 204;
  --bs-avatar-active-color: #000;
  --bs-avatar-active-bg: #3dd5f3;
  --bs-avatar-active-border-color: #25cff2;
  --bs-avatar-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-avatar-disabled-color: #000;
  --bs-avatar-disabled-bg: #0dcaf0;
  --bs-avatar-disabled-border-color: #0dcaf0;
}

.avatar-warning {
  --bs-avatar-color: #000;
  --bs-avatar-bg: #ffc107;
  --bs-avatar-border-color: #ffc107;
  --bs-avatar-hover-color: #000;
  --bs-avatar-hover-bg: #ffca2c;
  --bs-avatar-hover-border-color: #ffc720;
  --bs-avatar-focus-shadow-rgb: 217, 164, 6;
  --bs-avatar-active-color: #000;
  --bs-avatar-active-bg: #ffcd39;
  --bs-avatar-active-border-color: #ffc720;
  --bs-avatar-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-avatar-disabled-color: #000;
  --bs-avatar-disabled-bg: #ffc107;
  --bs-avatar-disabled-border-color: #ffc107;
}

.avatar-danger {
  --bs-avatar-color: #fff;
  --bs-avatar-bg: #dc3545;
  --bs-avatar-border-color: #dc3545;
  --bs-avatar-hover-color: #fff;
  --bs-avatar-hover-bg: #bb2d3b;
  --bs-avatar-hover-border-color: #b02a37;
  --bs-avatar-focus-shadow-rgb: 225, 83, 97;
  --bs-avatar-active-color: #fff;
  --bs-avatar-active-bg: #b02a37;
  --bs-avatar-active-border-color: #a52834;
  --bs-avatar-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-avatar-disabled-color: #fff;
  --bs-avatar-disabled-bg: #dc3545;
  --bs-avatar-disabled-border-color: #dc3545;
}

.avatar-light {
  --bs-avatar-color: #000;
  --bs-avatar-bg: #f8f9fa;
  --bs-avatar-border-color: #f8f9fa;
  --bs-avatar-hover-color: #000;
  --bs-avatar-hover-bg: #f9fafb;
  --bs-avatar-hover-border-color: #f9fafb;
  --bs-avatar-focus-shadow-rgb: 211, 212, 213;
  --bs-avatar-active-color: #000;
  --bs-avatar-active-bg: #f9fafb;
  --bs-avatar-active-border-color: #f9fafb;
  --bs-avatar-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-avatar-disabled-color: #000;
  --bs-avatar-disabled-bg: #f8f9fa;
  --bs-avatar-disabled-border-color: #f8f9fa;
}

.avatar-dark {
  --bs-avatar-color: #fff;
  --bs-avatar-bg: #212529;
  --bs-avatar-border-color: #212529;
  --bs-avatar-hover-color: #fff;
  --bs-avatar-hover-bg: #1c1f23;
  --bs-avatar-hover-border-color: #1a1e21;
  --bs-avatar-focus-shadow-rgb: 66, 70, 73;
  --bs-avatar-active-color: #fff;
  --bs-avatar-active-bg: #1a1e21;
  --bs-avatar-active-border-color: #191c1f;
  --bs-avatar-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-avatar-disabled-color: #fff;
  --bs-avatar-disabled-bg: #212529;
  --bs-avatar-disabled-border-color: #212529;
}

/*# sourceMappingURL=avatar.css.map */
