@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/vendor/rfs';
@import 'mixins';
@import 'variables';

.avatar {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  box-sizing: content-box;
  outline: none;
  transform: translateZ(0px);
  margin: 0;
  padding: 0;

  @include rfs($avatar-font-size, --#{$prefix}avatar-font-size);
  @include rfs($avatar-font-weight, --#{$prefix}avatar-font-weight);
  @include rfs($body-color, --#{$prefix}avatar-color);

  color: var(--#{$prefix}avatar-color);
  background-color: var(--#{$prefix}avatar-bg);
  font-size: var(--#{$prefix}avatar-font-size);
  font-weight: var(--#{$prefix}avatar-font-weight);
  width: var(--#{$prefix}avatar-width);
  height: var(--#{$prefix}avatar-height);
}

.avatar {
  > img {
    height: 100%;
    width: 100%;
    display: flex;
    flex: 1 1 100%;
  }

  &.rounded-circle {
    > img {
      border-radius: 50%;
    }
  }
}

@each $color, $value in $theme-colors {
  .avatar-#{$color} {
    @include avatar-variant($value, $value);
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  .avatar-#{$breakpoint} {
    @include avatar-size($breakpoint);
  }
}
